:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --pry_color: #29506b;
  --pry_color_dark: #2c785c;
  --pry_color_light: #eff0f0;
  --sec_color: #36237d;
  --sec_color_green: #64ba84;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  color: rgb(var(--foreground-rgb));
  /* background-color: var(--pry_color_light); */
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* color */
.background__border {
  background-color: var(--pry_color);
}

.icon__color {
  color: var(--sec_color_green);
}

/* navigation */
.nav_bg {
  /* background-color: var(--pry_color); */
  background-color: var(--pry_color);
}

.btn_bg_style {
  /* border: var(--pry_color_light); */
  color: var(--pry_color);
}

.btn_outline_style {
  border-color: var(--pry_color_light);
}

/* footer */
.footer_bg {
  background-color: var(--pry_color);
}

/* .border_design {
	border-bottom: 1px 
} */

/* webinar and event cards */
.webevent {
  background-color: var(--pry_color_light);
  border: 0.1px solid rgba(0, 0, 0, 0.1) !important;
}

.webevent1 {
  border: 0.1px solid var(--pry_color_light) !important;
  background-color: var(--pry_color);
}

.border__color {
  border: 0.1px solid rgba(0, 0, 0, 0.1) !important;
}

.border__bottom__color {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.1) !important;
}

/* .speakerwebevent {
  background-color: var(--pry_color_light);
  border: none;
} */
.speakerwebevent {
  background-color: var(--pry_color);
  border: none;
}

/* .pastevents{
	border-top: 
} */

.form__width {
  width: 95vw !important;
}

.conference_hero_bg {
  background-image: url("/assets/blockImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

/* .hero_text_div {
	dislay: flex;
	justify-content: center;
} */

.container__border {
  border-left: 2px solid var(--pry_color_dark);
}

/* btn color */
.btnc {
  background-color: var(--pry_color_light);
}

.comingsoon {
  background-image: url("../public/assets/blockImg.jpg");
  background-repeat: no-repeat;

  height: 100%;

  background-position: center;
  background-size: cover;
  /* position: relative; */
  /* opacity: 0.5; */
  /* color: white; */
  /* Add a font */
  /* font-family: "Courier New", Courier, monospace; */
  /* Set the font-size to 25 pixels */
  /* font-size: 25px; */
}

.image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

/* .image-container {
  position: relative;
  width: 100%;
} */

.article-card__onhover:hover {
  transform: translate3D(0, -1px, 0) scale(1.03) !important;
  color: var(--sec_color) !important;
}
